<a href="<%= root_path %>">
  <%= image_tag "cookgram_logo.png", alt: "Cookgram", class: 'icon' %>
</a>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="form-group d-flex">
    <%= f.text_field :lname, required: true, placeholder: t('activerecord.attributes.user.lname'), class: 'text-input mr-3' %>

    <%= f.text_field :fname, autofocus: true, placeholder: t('activerecord.attributes.user.fname'), required: true, class: 'text-input' %>
  </div>

  <div class="form-group">
    <%= f.email_field :email, autocomplete: "email", placeholder: 'Email', required: true, class: 'text-input' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "new-password", 
    required: true, minlength: @minimum_password_length, placeholder: t('activerecord.attributes.user.password'), class: 'text-input' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, placeholder: t('activerecord.attributes.user.password_confirmation'), autocomplete: "new-password", required: true, class: 'text-input' %>
  </div>

  <div class="custom-control custom-checkbox mb-3 ml-1">
    <input type="checkbox" class="custom-control-input" id="exampleCheck1" required>
    <label class="custom-control-label" for="exampleCheck1"><%= t('policy_confirm') %></label>
  </div>
  
  <div class="actions">
    <%= f.submit t('signup'), class: "btn btn-highlight px-4" %>
  </div>
<% end %>

<i><%= t('have_account') %> <%= render "devise/shared/links" %></i>

<div class="footer"></div>
