<% recipe.comments.reverse.each do |cmt| %>
  <div class="d-flex">
    <div class="small-img">
      <%= image_tag current_user.avatar_size(:small), alt: "Cookgram", class: "small-img" %>
    </div>
    <div class="ml-2">
      <strong><%= link_to cmt.user.full_name, user_path(cmt.user) %></strong><br>
      <span><%= cmt.content %></span><br>
      <small>
        <%= time_ago_in_words(cmt.created_at) %> | 
        <span id="comment-like-count-<%= cmt.id.to_s %>">
          <%= render "likes/comment/like_count", object: cmt %>
        </span>
        <span id="comment-like-link-<%= cmt.id.to_s %>">
          <%= render "likes/comment/like_link", object: cmt %>
        </span>
        <% if current_user == cmt.user %>
        | <%= link_to "Xóa", '#modalConfirm', data: {toggle: 'modal', target: '#modalConfirm', whatever: comment_path(cmt)} %>
        <% end %>
      </small>
    </div>
  </div>
  <hr>
<% end %>