<%= form_with model: object, local: true do |f| %>
  <div class="form-input">
    <div class="form-group mx-5 my-4 text-center">
      <label id="image-recipe-label", class="base-border-rounded">
        <%= f.file_field :image, class: "d-none" %>
        <div class="preview d-flex justify-content-around align-items-center">
          <% if object.image.present? %>
            <%= image_tag object.image, class: 'base-border-rounded', style: "object-fit: cover;height: 340px;width: 600px" %>
          <% else %>
            <div class="text-center" style="color:gray">
              <i class="fas fa-camera fa-3x"></i><br>
              <i>Click để đăng hình</i>          
            </div>
          <% end %>
        </div>
      </label>
      
      <%= f.text_field :title, class: 'form-control base-border-rounded mt-3', placeholder: t('activerecord.attributes.recipe.title') %>
    </div>

    <h5 style="color: red">Nguyên liệu(*)</h5>
    <div class="horizontal-line"></div>
    <div id="ingredients">
      <%= f.fields_for :ingredients do |ingredient| %>
        <%= render 'recipes/ingredient_fields', f: ingredient %>
      <% end %>
      <div class="links my-2">
        <%= link_to_add_association '+ Thêm nguyên liệu', f, :ingredients, partial: 'recipes/ingredient_fields' %>
      </div>
    </div>

    <h5 style="color: red">Cách làm(*)</h5>
    <div class="horizontal-line"></div>
    <div id="steps">
      <%= f.fields_for :steps do |step| %>
        <%= render 'recipes/step_fields', f: step %>
      <% end %>
      
      <div class="links my-2">
        <%= link_to_add_association '+ Thêm bước thực hiện', f, :steps, partial: 'recipes/step_fields' %>
      </div>
    </div>
  </div>

  <div class="form-action text-center">
    <%= f.submit "Lên sóng", class: "btn btn-highlight" %>
  </div>
<% end %>