<%= render 'recipes/banner' %>

<ul class="nav nav-pills mt-5" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-latest-tab" data-toggle="pill" href="#pills-latest" role="tab" aria-controls="pills-latest" aria-selected="true">
      <h4>CÔNG THỨC MỚI NHẤT</h4>
    </a>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <a class="nav-link" id="pills-care-tab" data-toggle="pill" href="#pills-care" role="tab" aria-controls="pills-care" aria-selected="false"><h4>CÔNG THỨC QUAN TÂM</h4></a>
    </li>
  <% end %>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab">
    <% unless @latest_recipes.empty? %>
      <div class="row mx-5">
        <% @latest_recipes.each do |recipe| %>
          <%= render 'recipes/box_item', recipe: recipe %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav (@pagy_latest) if @pagy_latest.pages > 1 %>
    <% else %>
      <h5 class="text-center my-3">Xin lỗi! Chúng tôi không tìm thấy công thức nào</h5>
    <% end %>
    
  </div>
  <% if user_signed_in? %>
    <div class="tab-pane fade" id="pills-care" role="tabpanel" aria-labelledby="pills-care-tab">
      <% unless @care_recipes.empty? %>
        <div class="row mx-5">
          <% @care_recipes.each do |recipe| %>
            <%= render 'recipes/box_item', recipe: recipe %>
          <% end %>
        </div>
        <%== pagy_bootstrap_nav (@pagy_care) if @pagy_care.pages > 1  %>
      <% else %>
        <h5 class="text-center my-3">Xin lỗi! Chúng tôi không tìm thấy công thức nào</h5>
      <% end %>
    </div>
  <% end %>
</div>

<div class="master-chef">
  <h4 class="base-color-text ml-4">BẾP YÊU THÍCH</h4>
  <%= render "recipes/fav_user" %>
</div>
