<div class="col-lg-7 col-md-9 col-sm-10 mx-auto">
  <div class="main-image text-center">
    <%= image_tag @recipe.image, class: "large-img base-border-rounded" %>
  </div>
  <h4 class="base-color-text text-center mt-3">
    <%= @recipe.title %> 
    <% if current_user == @recipe.user %>
      <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_recipe_path(@recipe), class: "text-warning" %>
      <%= link_to '<i class="fas fa-minus-circle"></i>'.html_safe, '#modalConfirm', class: "text-danger",
      data: {toggle: 'modal', target: '#modalConfirm', whatever: recipe_path(@recipe) } %>
    <% end %>
  </h4>
    
  <div class="user text-center">
    <a href="<%= user_path(@recipe.user) %>" style="color: orangered; font-weight: bold"><i class="fas fa-user"></i>  <%= @recipe.user.full_name %></a>
  </div>
  <div id="reputation" class="text-center">
    <div class="d-inline-block">
      <%= rating_for @recipe, "quality", star: 5, enable_half: true %>
    </div>
    <div style="vertical-align:bottom"><%= @recipe.rates("quality").size %> đánh giá</div>
    
  </div>
  <div id="ingredients" class="mt-3">
    <h4>Nguyên liệu:</h4>
    <div class="horizontal-line"></div>
    <% @recipe.ingredients.each.with_index do |ingredient, index| %>
      <p class="ml-2"><%= "#{index + 1}. #{ingredient.name}" %></p>
    <% end %>
  </div>
  <div id="steps" class="my-3">
    <h4>Cách làm:</h4>
    <div class="horizontal-line"></div>
    <% @recipe.steps.each.with_index do |step, index| %>
      <h5 class="ml-2">Bước <%= index + 1 %></h5>
      <p class="ml-2"><%= step.content %></p>
        <div class="d-flex justify-content-center">
          <% step.step_images&.each do |img| %>
            <%= image_tag img, class: "standard-img mr-3" %>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class="horizontal-line"></div>
  <div id="comments" class="my-3 row">
    <div class="col-md-6">
      <h4>Bình luận:</h4>
      <div class="comment-input-area d-flex">
        <div class="small-img">
          <%= image_tag current_user.avatar_size(:small), alt: "Cookgram", class: "small-img" %>
        </div>
        <div id="comment-form" class="flex-grow-1 ml-2">
          <%= render "comments/comment", recipe: @recipe %>
        </div>
      </div>
      <hr>
      <span id="comment-size" class="font-weight-bold"><%= @recipe.comments.size %> trả lời</span>
      <div id="comment-list-area" class="mt-2">
        <%= render "comments/comment_list", recipe: @recipe %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex">
        <%= image_tag @recipe.user.avatar_size(:small), size: "50x50", class: "rounded-circle base-border-color" %>
        <h4 class="d-inline mx-2 font-weight-bold" style="color: orangered"><%= @recipe.user.full_name %></h4>
        <% if current_user&.following?(@recipe.user) %>
          <%= render 'relationships/unfollow', user: @recipe.user %>
        <% else %>
          <%= render 'relationships/follow', user: @recipe.user %>
        <% end %>
      </div>
      <br>
      <h6>Bạn có thích món ăn này?</h6>
      <ul class="list-group list-group-horizontal-sm mx-auto" style="width: fit-content">        
        <li class="list-group-item mx-3 bg-danger" id="recipe-like-link-<%= @recipe.id.to_s %>">
          <%= render "likes/recipe/like_link", object: @recipe %>
        </li>
        <li class="list-group-item mx-3 bg-success" id="recipe-bookmark-link-<%= @recipe.id.to_s %>" style="border-left-width: 1px">
          <%= render "bookmarks/bookmark", object: @recipe %>
        </li>
        <li class="list-group-item mx-3 bg-warning" id="recipe-share" style="border-left-width: 1px">
          <% fb_share_url = "https://www.facebook.com/sharer/sharer.php?app_id="+ENV['FACEBOOK_APP_ID']+"&sdk=joey&u=" %>
          <a href="<%= fb_share_url + recipe_url(@recipe) %>" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=580')"><i class="fas fa-share-alt fa-lg"></i></a>
        </li>
      </ul>
      <hr>
      <h6>Có thể bạn sẽ thích?</h6>
    </div>
  </div>
</div>

<%= render 'layouts/modal_confirm' %>
