<% unless !object.published && current_user != object.user %>
<div class="mb-4 col-md-6">
  <div class="card row no-gutters base-border-rounded">
    <div class="col-md-5">
      <%= image_tag object.image, class: "card-img" %>
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title"><%= link_to object.title, recipe_path(object), class: "text-decoration-none" %></h5>
        <p class="card-text text-muted">
          <i class="fas fa-heart"></i>&nbsp;<%= object.likes.size %>&nbsp;
          <i class="fas fa-comments"></i>&nbsp;<%= object.comments.size %>
        </p>
        <p class="card-text my-1"><small class="text-muted"><%= object.updated_at.localtime.strftime("%Y-%m-%d %H:%M") %></small></p>
        <% unless object.published %>
          <button type="button" class="btn btn-danger btn-sm" disabled>Pending</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>