<div class="col-4 base-border-rounded px-0">
  <div class="row no-gutters">
    <div class="col-md-4 rounded-circle my-auto">
      <%= image_tag object.avatar_thumbnail, class: "rounded-circle avatar-thumbnail" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title mb-0"><%= link_to object.full_name, user_path(object), class: "text-decoration-none" %></h5>
        <p class="card-text text-muted mb-0">
          <%= object.followers.size %>&nbsp; followers
        </p>
        <p class="card-text text-muted mb-0">
          <%= object.recipes.size %>&nbsp; recipes
        </p>
        <% if current_user&.following?(object) %>
          <%= render 'relationships/unfollow', user: object %>
        <% else %>
          <%= render 'relationships/follow', user: object %>
      <% end %>
      </div>
    </div>
  </div>
</div>