<div class="col-lg-9 mx-auto">
  <div id="profile-header">
    <%= image_tag '', width: '100%', height: "200px" %>
    <%= image_tag 'cookgram_logo.png', class: 'rounded-circle avatar' %>
    <div class="info-user">
      <h4><%= @user.full_name %></h4>
      <% if current_user == @user %>
        <%= link_to 'Cập Nhật', edit_user_registration_path, class: "btn btn-positive" %>
      <% elsif current_user&.following?(@user) %>
        <%= render 'relationships/unfollow', user: @user %>
      <% else %>
        <%= render 'relationships/follow', user: @user %>
      <% end %>
    </div>
  </div>
  <div id="profile-body" style="height: 1100px">
  
  </div>
</div>