<div class="col-lg-9 mx-auto">
  <div id="profile-header">
    <%= image_tag 'user_banner.jpg', width: '100%', height: "200px" %>
    <%= image_tag @user.avatar_size(:normal), class: 'rounded-circle avatar' %>
    <div class="info-user">
      <h4><%= @user.full_name %></h4>
      <% if current_user == @user %>
        <%= link_to t('setting'), edit_user_registration_path, class: "btn btn-positive" %>
      <% elsif current_user&.following?(@user) %>
        <%= render 'relationships/unfollow', user: @user %>
      <% else %>
        <%= render 'relationships/follow', user: @user %>
      <% end %>
    </div>
  </div>
  <div id="profile-body">
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="myRecipe-tab" data-toggle="tab" href="#myRecipe" role="tab" aria-controls="myRecipe" aria-selected="true">
        <%= t('my_recipes') %>
        <span class="badge badge-success"><%= @my_recipes.size %></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">
        <%= t('followers') %>
        <span class="badge badge-success"><%= @followers.size %></span>
      </a>
    </li>
    <% if current_user == @user %>
      <li class="nav-item">
        <a class="nav-link" id="following-tab" data-toggle="tab" href="#following" role="tab" aria-controls="following" aria-selected="false">
          <%= t('following') %>
          <span class="badge badge-success"><%= @following.size %></span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="bookmarks-tab" data-toggle="tab" href="#bookmarks" role="tab" aria-controls="bookmarks" aria-selected="false">
          Bookmarks
          <span class="badge badge-success"><%= @bookmarks.size %></span>
        </a>
      </li>
    <% end %>
    <li class="nav-item">
      <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">
      <%= t('about_me') %></a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="myRecipe" role="tabpanel" aria-labelledby="myRecipe-tab">
      <div class="row mt-4">
      <% @my_recipes.each.with_index do |recipe, index| %>
        <%= render 'card', object: recipe %>
      <% end %>
      </div>
      <%== pagy_bootstrap_nav (@pagy_recipes) if @pagy_recipes.pages > 1 %>
    </div>

    <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
      <div class="row mt-4">
        <% @followers.each do |follower| %>
          <%= render 'followers_list', object: follower %>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
      <div class="row mt-4">
        <% @following.each do |f| %>
          <%= render 'following_list', object: f %>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="bookmarks" role="tabpanel" aria-labelledby="bookmarks-tab">
      <div class="row mt-4">
        <% @bookmarks.each.with_index do |bookmark, index| %>
          <%= render 'card', object: bookmark.recipe %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav (@pagy_bookmarks) if @pagy_bookmarks.pages > 1 %>
    </div>

    <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
      <%= render "about", user: @user %>
    </div>
  </div>
  </div>
</div>
