<% fb_share_url = "https://www.facebook.com/sharer/sharer.php?app_id="+ENV['FACEBOOK_APP_ID']+"&sdk=joey&u=" %>

<div class="box-item col-lg-3 col-md-4 col-sm-6">
  <% if current_user == recipe.user %>
    <%= link_to "<i class='fas fa-times'></i>".html_safe, '#modalConfirm', class: "setting", 
    data: {toggle: 'modal', target: '#modalConfirm', whatever: recipe_path(recipe) } %>
  <% end %>
  <div class="box-img">
    <%= link_to recipe_path(recipe) do %>
      <%= image_tag recipe.image %>
    <% end %>
  </div>
  <ul class="action-list">
    <li id="recipe-preview-<%= recipe.id.to_s %>">
    <%= link_to preview_home_path(recipe), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window-'+ recipe.id.to_s } do %>
      <i class="far fa-eye fa-lg"></i>  
    <% end %>
    </li>
    
    <li id="recipe-like-link-<%= recipe.id.to_s %>">
      <%= render "likes/recipe/like_link", object: recipe %>
    </li>
    <li id="recipe-bookmark-link-<%= recipe.id.to_s %>">
      <%= render "bookmarks/bookmark", object: recipe %>
    </li>
    <li id="recipe-share">
      <a href="<%= fb_share_url + recipe_url(recipe) %>" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=580')"><i class="fas fa-share-alt fa-lg"></i></a>
    </li>
  </ul>
  <div class="box-body">
    <%= link_to recipe.title, recipe_path(recipe), class: "box-title" %>
    <div class="user">
      <a href="<%= user_path(recipe.user) %>"><i class="fas fa-user"></i>  <%= recipe.user.full_name %></a>
    </div>
    <div class="interactive">
      <span id="recipe-like-count-<%= recipe.id.to_s %>">
        <%= render "likes/recipe/like_count", object: recipe %>
      </span>
      <span id="comment-count"><i class="fas fa-comments"></i>&nbsp;<%= recipe.comments.size %></span>
    </div>
  </div>
</div>

<!-- Modal show preview recipe -->
<div id="modal-window-<%= recipe.id.to_s %>" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered mw-100 w-50" role="document">
    <div class="modal-content base-border-rounded"></div>
  </div>
</div>

