<%= render 'home/banner' %>
<% if user_signed_in? && @recommend_recipes.any? %>
  <div class="master-chef my-5">
    <h3 class="base-color-text ml-3 mb-3 font-weight-bold">CÓ THỂ BẠN SẼ THÍCH</h3>
    <div class="row mx-5">
      <% @recommend_recipes.each do |recipe| %>
        <%= render 'home/box_item', recipe: recipe %>
      <% end %>
    </div>
  </div>
<% end %>
<ul class="nav nav-pills mt-5" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-latest-tab" data-toggle="pill" href="#pills-latest" role="tab" aria-controls="pills-latest" aria-selected="true">
      <h4>CÔNG THỨC MỚI NHẤT</h4>
    </a>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <a class="nav-link" id="pills-care-tab" data-toggle="pill" href="#pills-care" role="tab" aria-controls="pills-care" aria-selected="false"><h4>CÔNG THỨC QUAN TÂM</h4></a>
    </li>
  <% end %>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab">
    <% unless @latest_recipes.empty? %>
      <div class="row mx-5" id="latest_recipes">
        <%= render "page_items" %>
      </div>
      <div id="div_next_link" class="text-center">
        <%= render partial: 'next_link' %>
      </div>
    <% else %>
      <h5 class="text-center my-3">Xin lỗi! Chúng tôi không tìm thấy công thức nào</h5>
    <% end %>
    
  </div>
  <% if user_signed_in? %>
    <div class="tab-pane fade" id="pills-care" role="tabpanel" aria-labelledby="pills-care-tab">
      <% unless @care_recipes.empty? %>
        <div class="row mx-5">
          <% @care_recipes.each do |recipe| %>
            <%= render 'home/box_item', recipe: recipe %>
          <% end %>
        </div>
        <%== pagy_bootstrap_nav (@pagy_care) if @pagy_care.pages > 1  %>
      <% else %>
        <h5 class="text-center my-3">Xin lỗi! Chúng tôi không tìm thấy công thức nào</h5>
      <% end %>
    </div>
  <% end %>
</div>

<div class="master-chef my-5">
  <h3 class="base-color-text ml-3 mb-3 font-weight-bold">BẾP YÊU THÍCH</h3>
  <div class="row mx-5">
    <% @master_chefs.each do |chef| %>
      <%= render 'home/box_user', user: chef %>
    <% end %>
  </div>
</div>

<%= render 'layouts/modal_confirm' %>