<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  
  <a class="navbar-brand" href="<%= root_path %>">
    <%= image_tag "cookgram_logo.png", alt: "Cookgram", class: "nav-icon d-inline-block align-top" %>
  </a>
  
  <div class="nav-search d-none">
    <%= form_tag search_recipes_path, method: :get, class: 'form-inline my-2 my-sm-0' do %>
    <div class="search-input px-1 d-flex align-items-center" >
      <%= search_field_tag :search, params[:search], placeholder: t('input_search'), 
      class: 'form-control ml-2 border-0 flex-grow-1' %>
      <%= button_tag(type: "submit", class: "btn") do %>
        <i class="fas fa-search fa-2x"></i>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="ml-auto">
    <ul class="navbar-nav">
      <li class="nav-item mx-2 my-auto">
        <%= link_to_unless I18n.locale == :en, 'EN', locale: :en %>
        |
        <%= link_to_unless I18n.locale == :vn, "VN", locale: :vn %>
      </li>
      <!-- Check loged in to render navbar -->
      <% if user_signed_in? %>
      <li class="nav-item mx-2 my-auto">
        <%= link_to user_path(current_user), class: "btn-icon base-color-text" do %>
          <i class="fas fa-user fa-lg"></i>
        <% end %>
      </li>

      <li class="nav-item my-auto mx-2">
        <%= link_to t('create_recipe'), new_recipe_path, class: "btn btn-highlight" %>
      </li>
      <div class="vertical-line mx-2"></div>
      <li class="nav-item btn-group my-auto mx-2" id="notifications" data-behavior="notifications">
        <a href="#" class="btn-icon base-color-text dropdown-toggle" data-toggle="dropdown" data-behavior="notifications-link" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-lg"></i>
        </a>
        <span data-behavior="unread-count" class="unread-count d-none"></span>
        <div class="dropdown-menu dropdown-menu-right" data-behavior="notification-items"></div>  
      </li>
      <li class="nav-item my-auto mx-2">
        <%= link_to destroy_user_session_path, method: :delete, class: "btn-icon base-color-text" do %>
          <i class="fas fa-sign-out-alt fa-lg"></i>
        <% end %>
      </li>
      <% else %>
      <li class="nav-item mx-3">
        <%= link_to t('login'), new_user_session_path, class: "btn btn-positive" %>
      </li>
      <li class="nav-item">
        <%= link_to t('signup'), new_user_registration_path, class: "btn btn-negative my-0" %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>