<!DOCTYPE html>
<html>
  <head>
    <title>Cookgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : "Cookgram" %></title>
    <!-- add icon link -->
    <link rel = "icon" href = "https://storage.cloud.google.com/cookgram_bucket/cookgram_logo.png?" type = "image/x-icon">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %> mx-auto" style="max-width: 1350px;">
    <% devise_controller = ['registrations', 'sessions', 'confirmations', 'passwords']  %>
    <%= render 'layouts/navbar' unless devise_controller.include? controller_name %>
    <%= yield %>
    <%= toastr_flash %>
    <%= render 'layouts/footer' unless devise_controller.include? controller_name %>
  </body>
</html>
